* {
    /*border: 1px solid red;*/
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    top: 0;
}

.logo {
    text-decoration: none;
    color: #2315df;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    padding: 10px 10px;
    margin: 0 10px;
    border-radius: 16px;
    transition: 1s all;
}

.logo:hover {
    color: #bd0b40;
    background-color: #38346667;
}

.navigation p {
    color: #2315df;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    padding: 10px 10px;
    margin: 0 10px;
    background-color: #41414191;
    border-radius: 16px;
    transition: 1s all;
}

.navigation p:hover {
    color: #bd0b40;
    background-color: #b4b4b4;
}

section {
    padding: 50px 50px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(IAM.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #2315df;
    font-size: 3em;
    font-weight: 600;
    transition: 1.4s ease;
}

.main h2 span:hover {
    transform: scale(0.9);
    color: #a31284;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-bit {
    color: #fff;
    background-color: #2315df;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.9s ease;
}

.main-bit:hover {
    background-color: #a31284;
    transform: scale(1.1);
    color: #120e41;
}

.social-icons img {
    color: #fff;
    display: inline-block;
    font-size: 1.7em;
    border-radius: 15px;
    padding: 5px;
    margin-right: 15px;
    transition: 0.5s ease;
}

.social-icons img:hover {
    background-color: #a71a8f63;
    transform: scale(1.1);
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #2315df;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.contact {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.dodo {
    background-color: #0b0b2e;
    display: flex;
    flex-wrap: wrap;
}

.container {
    font-size: 1rem;
    margin-top:4rem ;
    width: 100%;
    border-radius: 12px;
    bottom: -100;
    right: 3rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all 0.6s;
    opacity: 0;
    min-width: 15rem;
}

.c:hover .container {
    opacity: 1;
}

.c {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background-color: #cfcece;
    height: 15rem;
    width: 15rem;
    margin: 100px auto auto;
    position: relative;
    transition: all 1.4s;
}

.c:hover {
    height: 440px;
}

.img-pm img {
    border-radius: 12px;
    height: 12rem;
    width: 12rem;
    position: absolute;
    right: 1.48rem;
    top: -30px;
    transition: all 1s;
}

.c:hover .img-pm img {
    top: -100px;
    border-radius: 50%;
    transform: rotatez(720deg);
}


.card {
    background-color: #ffffff;
    width: 18rem;
    height:24rem;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card img{
    width: 14rem;
    height: 14rem;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: #2315df;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: #2315df;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.model {
    background-color: #000016;
}

.model.contact {
    margin-top: 30px;
}

.M-card {
    background-color: #fff;
    border: 1px solid #2315df;
    min-height: 15rem;
    width: 15rem;
    overflow: hidden;
    border-radius: 10px;
    ;
    margin: 20px;
    transition: 0.7s ease;
}
.M-card img{
    height: 13rem;
    width: 13rem;
}
.M-card:hover {
    transform: scale(1.1);
}

.M-card:hover .M-img {
    opacity: 0.9;
}

.M-img img {
    width: 100%;
}

.M-info {
    padding: 1em;
}

.M-category {
    font-size: 0.8em;
    color: #000000;
}

.M-title {
    border: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #2315df;
}

.more-details:hover {
    color: #a31284;
}

.contact .icon {
    font-size: 4.5em;
}

.contact .icon h3 {
    color: #000;
    
}

.contact .info p {
    font-size: 1.5em;
}

.footer {
    height: 30vh;
    bottom: 0;
    background-color: #000016;
    color: #fff;
    padding: 0.2em;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.footer .footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer .footer-title span {
    color: #2315df;
}

.footer.social-icons a {
    font-size: 1.3em;
    padding: 0 10px 0 0;
}

@media screen and (max-width: 600px) {
    header{
        padding: 1rem 2rem;
    }
    .img-pm img{
        width:11.7rem;
        height:11.7rem;
        left: 1rem;
    }
 .c{
    width: 13.7rem;
    height: 11.7rem;
    padding: 0;
 }
 .c:hover{
    height: 400px;
 }
 .container{
    font-size:0.9rem;
    margin-top:6rem;
    min-width: 12rem;
 }
    .all-main {
        position: absolute;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .all-main h2 span {
       font-size: 3rem;
    }
    .all-main a{
        width: 70%;
        font-size: 1rem;
     }

}
@media screen and (max-width: 330px) {
    header{
        padding: 1rem 1rem;
    }
    .img-pm img{
        width:8rem;
        height:8rem;
        left: 1rem;
    }
 .c{
    width: 10rem;
    height:8rem;
    padding: 0;
 }
 .c:hover {
    height: 370px;
}
 .container{
    font-size:0.8rem;
    margin-top: 2rem;
    min-width: 11rem;
}
.card{
    font-size: 0.9rem;
    width:15rem ;
    height:20rem ;
}
.card img{
    width: 11rem;
    height: 11rem;
}
}

